# Tutorial 2

1. NA, NA, NA, dogcat, dog cat

2. 11, 10, 10.67

In [ ]:
# 2.
print(round(10.6))
print(int(10.6))
print(round(10.666,2))

11
10
10.67

3. <br>
a) Your salary is $24.32 <br>
b) The area is 24.3 <br>
c) 24.325000 <br>
d) BMI btw 18.500000 and 24.325 is ideal <br>
e) Overweight =  24.32 - 29.90 <br>

In [ ]:
# 3.
amount=24.325
print(f"Your salary is ${amount:.2f}")
print(f"The area is {amount:.1f}")
print(f"{amount:7f}")
print(f"BMI btw {18.5:f} and {amount:2.3f} is ideal")
print(f"Overweight ={amount:>7.2f} - {29.9:.2f}")

Your salary is $24.32
The area is 24.3
24.325000
BMI btw 18.500000 and 24.325 is ideal
Overweight =  24.32 - 29.90

In [ ]:
# 4.
x = input("x: ")
y = input("y: ")
z = input("z: ")

print(f"{x:>6}{y:>6}{z:>6}")

x: 12
y: 123
z: 987
    12   123   987

In [ ]:
# 5.
from math import pow as p
print(p(8,2))
# honestly just do 8**2

64.0

# Assignment 2

In [ ]:
# 1.
name=input("name: ")
age=int(input("age: "))

print(f"hi {name}, your current age is {age} and your age in 10 years is {age+10}")

name: annie
age: 10
hi annie, your current age is 10 and your age in 10 years is 20

In [ ]:
# 2.
from math import pi
radius=float(input("radius: "))

print(f"diameter: {radius*2}")
print(f"circumference: {2*pi*radius:.3f}")
print(f"surface area: {4*pi*(radius**2):.3f}")
print(f"volume: {4/3*pi*(radius**3):.3f}")

radius: 1
diameter: 2.0
circumference: 6.283
surface area: 12.566
volume: 4.189

In [ ]:
# 3.
hourly=float(input("enter hourly wage: "))
hours=float(input("enter total regular hours: "))
overtime=float(input("enter total overtime hours: "))

print(f"weekly pay = {hourly*hours+1.5*hourly*overtime:.0f}")

enter hourly wage: 1.5
enter total regular hours: 1
enter total overtime hours: 1
weekly pay = 4

In [ ]:
# 4.
bread=int(input("enter number of loaves of day old bread: "))
print(f"regular price: ${bread*3.50:>6.2f}\ndiscount: ${0.6*bread*3.50:>6.2f}\ntotal price: ${0.4*bread*3.50:>6.2f}")

enter number of loaves of day old bread: 10
regular price: $ 35.00
discount: $ 21.00
total price: $ 14.00